$dark: #070d0d;
$light: #d7d7d7;
$white: #ffffff;
$gray: #e3e3e3;

$theme: #ff760c;
$bgLogin: #250303;
$bgTabs: #3a1c1c;
$bgHorizontalLine: #1f2525;
$primary: #ff760c;
$primaryText: $white;
$secondary: rgba(#ff760c, 0.7);

/* $theme: green;
$bgLogin: #0D1807;
$bgTabs: #252F1F;
$bgHorizontalLine: #1F2525;
$primary: #59AE16;
$primaryText: $white;
$secondary: rgba(#A1EB73, .7);  */

/* $theme: blue;
$bgLogin: #08182B;
$bgTabs: #202F3F;
$bgHorizontalLine: #1F2525;
$primary: #1F3BE5;
$primaryText: $white;
$secondary: rgba(#1B9AF6, .7); */

$white10: rgba($white, 0.1);
$white90: rgba($white, 0.9);
$white25: rgba($white, 0.25);
